.header {
    display: flex;
    align-items: center;
    height: clamp(30px, 10vh, 70px);
    width: 100%;
    background-color: var(--signature-color);
}

.header-heading {
    margin-left: 4vw;
}

.settings-icon {
    width: 25px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 30px;
}

h1 {
    font-size: clamp(50px, 4vw, 150px);
    margin-left: 7vw;
}

.tim {
    height: 100px;
    width: 100px;
    object-fit: cover;
    position: relative;
    top: 25px;
    border: 1px solid black;
}

.note-links-section {
    margin-left: 5vw;
}

.note-link {
    cursor:  pointer;
}

.delete-buttons-con {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.delete-btn {
    width: 20%;
    cursor: pointer;
    transition: opacity 0.4s linear;
    background-color: white;
    border-radius: 100%;
}

.second-delete-btn {
    opacity: 0;
    width: 75%;
    background-color: rgba(255, 0, 0, 0.891);
    transition: all 0.2s ease-out;
    transform: translateY(-20px);
    margin-left: 5px;
}

.view-recently-deleted-btn {
    height: 30px;
    width: 60px;
    background-color: white;
    border: 2px solid black;
    transition: all 0.4s linear; 
}

.view-recently-deleted-btn:hover {
    background-color: black;
    color: white;
}
